* {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-content: center;
  max-width: 700px; 
  width: auto;
  margin: auto;
}

h1 {
  display: block;
  font-size: 24pt;
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  padding: 5px;
  margin-top: 2px;
  margin-left: -40px;
  list-style-type: none;
  border-radius: 8px;
  background-color: rgb(225, 183, 225);

}

.directions{
  display: block;
  text-align: center;
}

.top-header{
  display: flex 0 0 200px;  
  flex-direction: row;
  margin-right: 10px;
  margin-left: 10px;
  width: auto;
}

.highscores{
  text-decoration: none;
  position: relative;
  top: 5px;
  left:-0%;
}

.timer-box{
  position: relative;
  top: -26px;
  left: 90%;
}

#viewhighscores{
  font-family: 'Calibri';
  font-size: 12px;
}

#time{
  font-family: 'Calibri';
  font-size: 12px;
  
  /* min-width: 275px; */
}



button {
  display: block;
  background-color: purple;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 10pt;
  margin-left: auto;
  margin-right: auto;
  /* letter-spacing: 0.21px;
  line-height: 8px; */
  /* max-width: 100px; */
  width: fit-content;
  height: 25px;
  /* padding: 20px 52px; */
  text-align: center;
  /* transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear; */
  /* margin-top: 0.6em; */
  /* float: center; */
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  color: #212121;
}



.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  /* background-color: #fff; */
  /* border: 1px solid #eceff1; */
  /* border-radius: 8px; */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px; */
  /* margin: 2%; */
  /* margin-top: 80px; */
  /* padding: 20px; */
  /* width: 46%; */
  /* overflow: hidden;
  position: relative;
  float: left; */
  /* align-content: center; */

}

#questions {
  display: none;
}
#answers {
  display: none;
  margin-left: 0px;
  border: none;
}
#answer1 {
  margin-left: 0px;
  margin-bottom: 2px;
  border: none;
}
#answer2 {
  margin-left: 0px;
  margin-bottom: 2px;
  border: none;
}
#answer3 {
  margin-left: 0px;
  margin-bottom: 2px;
  border: none;
}
#answer4 {
  margin-left: 0px;
  border: none;
}
#result {
  display: none;
  margin-top: 20px;
  border-top: 2px;
  width: 300px;
  border-style: solid none none none;
  border-color: grey;
  font-style: italic;
  color: grey;
} 

button:hover {
  filter: brightness(120%);

}

#alldone {
  display: none;
}

#finalscore {
  display: none;
}

#getinitials {
  display: none;
}

#alldone {
  display: none;
}

#finalscore {
  display: none;
}

#getinitials {
  display: none;
}

#scoretitle {
  display: none;
}

#scorebuttons {
  display: none;
}

#goback {
  display: inline-block;
}

#clear {
  display: inline-block;
}

#submitinitials {
  display: inline-block;
}
