* {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: white;
}

/* Create a row with three columns */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.column1 {
  flex: 15%;
  flex-shrink: 0;
  flex-wrap: nowrap;
  min-width: 100px;
}
.column2 {
  flex: 70%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
  max-width: 500px;
}

.column3{
  flex: 15%;
  flex-shrink: 0;
  flex-wrap: nowrap;
  min-width: 50px;
}

/* Default settings for elements */
h1 {
  font-size: 24pt;
  text-align: center;
  margin-top: 100px;
}

h2 {
  font-size: 16pt;
  text-align: left;
  margin-top: 100px;
}

a {
  text-decoration: none;
}

li {
  padding: 5px;
  margin-top: 2px;
  margin-left: -40px;
  list-style-type: none;
  background-color: rgb(225, 183, 225);
  width: 400px;
}

/* Headers Highscores and Timer */
#viewhighscores{
  font-family: 'Calibri';
  font-size: 12px;
  margin-left: 5px;
}

#time{
  font-family: 'Calibri';
  font-size: 12px;
  float: right;
  margin-right: 5px;
}

/* Style buttons and create hover action */
button {
  display: block;
  background-color: purple;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 10pt;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: 25px;
  text-align: center;
}

button:hover {
  filter: brightness(120%);
}

#startButton {
  margin-top: 20px;
}
#submitinitials {
  margin-top: 20px;
}

/* Style the question result */
#result {
  display: none;
  margin-top: 20px;
  border-top: 2px;
  width: 300px;
  border-style: solid none none none;
  border-color: grey;
  font-style: italic;
  color: grey;
} 


/* Initialize hidden items */
#goback {
  display: inline-block;
}

#clear {
  display: inline-block;
}

#submitinitials {
  display: inline-block;
}

#mainpage{
  display: block;
}

#qapage{
  display: none;
  margin-left: 70px;
}

#initialspage{
  display: none;
  margin-left: 70px;
}

#highscorespage{
  display: none;
  margin-left: 70px;
}

#result{
  margin-left: 70px;
}

.directions{
  display: block;
  text-align: center;
}

#scoretitle{
 text-align: left;
}



